.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.typeInput {
  width: 400px;
}

.formEditorDiv {
  padding-top: 50px;
  width: 700px;
}